environment:
  matrix:
    - TARGET: cygwin64

install:
  - cmd: if [%TARGET%]==[cygwin64] (
      curl -sSL -o C:\cygwin64\setup-x86_64.exe "https://cygwin.com/setup-x86_64.exe" )
  - cmd: if [%TARGET%]==[cygwin64] (
      C:\cygwin64\setup-x86_64.exe -qgnNdO -l C:\cygwin64\var\cache\setup
        -R c:\cygwin64 -s http://cygwin.mirror.constant.com
        -P texlive-collection-bibtexextra
        -P texlive-collection-binextra
        -P texlive-collection-langjapanese
        -P texlive-collection-latex
        -P texlive-collection-latexextra
        -P texlive-collection-latexrecommended
        -P texlive-collection-plaingeneric
        -P texlive-collection-mathscience )

before_build:
  - cmd: if [%TARGET%]==[cygwin64] (
      C:\cygwin64\bin\bash -e -l -c "git clone $(cygpath $APPVEYOR_BUILD_FOLDER)" )

build_script:
  - cmd: if [%TARGET%]==[cygwin64] (
      C:\cygwin64\bin\bash -e -l -c "cd $APPVEYOR_PROJECT_NAME && MAKE_COLORS=always make -s check" )
  - cmd: if [%TARGET%]==[cygwin64] (
      C:\cygwin64\bin\bash -e -l -c "cd $APPVEYOR_PROJECT_NAME && MAKE_COLORS=always make -s check BUILDDIR=.build" )
  # Check if the working directory is not dirty.
  - cmd: if [%TARGET%]==[cygwin64] (
      C:\cygwin64\bin\bash -e -l -c "cd $APPVEYOR_PROJECT_NAME && make check-dirty" )
