# https://github.com/tueda/makefile4latex

*.ax1
*.ax2
*.aux
*.auxlock
*.bbl
*.blg
*.dvi
*.fls
*.fmt
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.log
*.nav
*.out
*.pdf
*.ps
*.snm
*.tar.gz
*.tmp
*.tmp*.*
*.toc
*.vrb

.dep/
.diff/
!images/*.pdf
!resources/*.pdf
*-eps-converted-to.pdf

*-figure*.dpth
*-figure*.md5
*-figure*.pdf
