# https://github.com/tueda/makefile4latex

# This file is provided under the MIT License.
# See https://github.com/tueda/makefile4latex/blob/master/LICENSE.

*.ax1
*.ax2
*.aux
*.auxlock
*.bbl
*.blg
*.dvi
*.fls
*.fmt
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.log
*.nav
*.out
*.pdf
*.ps
*.snm
*.tar.gz
*.tmp
*.tmp*.*
*.toc
*.vrb
*-eps-converted-to.pdf
*-figure*.dpth
*-figure*.md5
*-figure*.pdf
*Notes.bib

# Directories created by the Makefile for LaTeX.
.dep/
.diff/
