name: Test

on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 1 * *' # monthly
  workflow_dispatch:

jobs:
  texlive-action:
    strategy:
      fail-fast: false
      matrix:
        check-target:
          - ci-test
          - ci-test-builddir
          - ci-test-dev
          - ci-test-dev-builddir
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true

      - name: Test on Docker
        uses: xu-cheng/texlive-action@v3
        with:
          scheme: full
          run: |
            apk add git make ruby
            git config --system --add safe.directory '*'
            make ${{ matrix.check-target }}

  cygwin:
    strategy:
      fail-fast: false
      matrix:
        check-target:
          - ci-test
          - ci-test-builddir
    runs-on: windows-latest
    steps:
      - name: Configure Git line endings
        run: git config --global core.autocrlf input

      - name: Checkout the repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true

      - name: Set up Cygwin
        uses: cygwin/cygwin-install-action@v6
        with:
          packages: >-
            make
            texlive-collection-bibtexextra
            texlive-collection-binextra
            texlive-collection-fontutils
            texlive-collection-langjapanese
            texlive-collection-latexextra
            texlive-collection-mathscience
            texlive-collection-plaingeneric
            texlive-collection-publishers

      - name: Restore cached sortref
        id: sortref-cache
        uses: actions/cache@v5
        with:
          path: sortref_cache
          key: sortref

      - name: Cache sortref
        if: steps.sortref-cache.outputs.cache-hit != 'true'
        run: |
          New-Item -ItemType Directory -Path sortref_cache
          Set-Location -Path sortref_cache
          Invoke-WebRequest -Uri https://web.physik.rwth-aachen.de/user/harlander/software/sortref/sortref -OutFile sortref

      - name: Install sortref
        shell: C:\\cygwin\\bin\\bash.exe --noprofile --norc -eo pipefail {0}
        run: cp sortref_cache/sortref /usr/bin

      - name: Test
        shell: C:\\cygwin\\bin\\bash.exe --noprofile --norc -eo pipefail {0}
        run: make ${{ matrix.check-target }}
